@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    <img src="https://img.redbull.com/images/c_crop,x_234,y_0,h_876,w_657/c_fill,w_450,h_600/q_auto:low,f_auto/redbullcom/2019/08/08/549852b7-44c6-49da-b3a3-b8bcbbddec4c/cat-asparragus" class="image-bckgrn" />

    <div class="form-group mt-5">
        <input id="BotonInfo" type="submit" value="Pulsa Aqui" class="btn btn-info" />
    </div>
</div>
